@mixin loader{
    @keyframes loader {
        0% {
            opacity: 1;
        }
        100% {
            z-index: -10;
            opacity: 0;
        }
    }    
}
@mixin glissement{
    @keyframes glissement {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
            transform: translateY(-40px);
        }
    }
}
@mixin spin {
    @keyframes spin{
        0% {
            transform: rotate(
        0deg
        );
            opacity: 1;
        }
        100% {
            transform: rotate(
        360deg
        );
            opacity: 0;
        }
    }
}